<pfng-toast-notification
  [header]="'HEADER'"
  [message]="'this is a notification'"
  [showClose]="'true'"
  [type]="'success'">
</pfng-toast-notification>


<div class="padding-15">
  <div class="cards-pf pfng-isc-ex-container">
    <div class="row">
      <div class="col-sm-4">
        
        </div>
        <hr>                  
    </div>    

    <div class="container-fluid pfng-fluid-width-container">
      <div class="col-lg-4">        
        <pfng-info-status-card
            [config]="card1Config">
        </pfng-info-status-card>
      </div>
      <div class="col-lg-4">

        <pfng-info-status-card
            [config]="card3Config">
        </pfng-info-status-card>
      </div>
      <div class="col-lg-4">

        <pfng-info-status-card
            [config]="card2Config">
        </pfng-info-status-card>
      </div>
    </div>
    <hr>
 </div>

 <router-outlet></router-outlet>